.tabWrapper {
  position: relative;
    .tabBar {
        height: 48px;
        background-color: #393939;
        position: fixed;
        width: 100vw;
        z-index: 1000;
    }
    .tabContent {
        min-height: 100vh;
        padding-top: 48px;
    }
}
