.paymentWrapper {
    // max-width: 1024px;
    padding-left: 200px;
    padding-right: 200px;
    border-left: dashed 1px rgb(215,215,215);
    border-right: dashed 1px rgb(215,215,215);
    :global(.ant-tabs-bar) {
        background-color: transparent;
        position: relative;
        margin-bottom: 20px !important;
    }
    :global(.ant-tabs-tab) {
        /* padding-left: 20px !important; */
        /* padding-right: 20px !important; */
        margin-left: 28px;
        margin-right: 28px;
        text-align: center;
        width: 200px;
    }
    :global(.ant-tabs-nav) {
        /* width: 100%; */
    }
}
.header {
    border-bottom: dashed 1px rgb(215,215,215);
}

.paymentLayout {
  display: flex;
  justify-content: center;
}

.priceList {
  margin-top: 200px;
}
.priceListItem {
  display: flex;
  h2 {
    padding-right: 10px;
  }
}

@media print{
    .printHide{
        visibility: hidden;
    }
}
